/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');

:root
{
    --vert : #536964;
    --violet : #bd8bca;
    --rose : #FD98BB;
    --grisF : #8b9cb6;
    --gris : #bfc1c2;
    --bleu : #BAD2E0;
    --beige : #f1efe9;
    --brun : #e3c7af;
    --noir : #282828;
}

body
{
    background-color: var(--beige);
    width: 100% !important;
    overflow-x: hidden;
    font-family: "Bodoni Moda", serif;
}

p
{
    font-size: 1.3em;
    line-height: 1.3em;
}

h1
{
    font-family: "Bodoni Moda", serif;
    font-size: 3rem;
    color: var(--noir);
}

h2
{
    font-family: "Bodoni Moda", serif;
    font-size: 3rem;
}

h3
{
    color: white;
    font-size: 6em;
}

.fontBeige
{
    color: var(--beige);
}

.fontWhite
{
    color: white;
}

.fontBlack
{
  color: var(--noir);
}

.bg-grey
{
    background-color: var(--gris);
}

.bg-blue
{
    background-color: var(--grisF);
}
/*  Nav  */
nav
{
    height: 150px;
}

nav .nav-link
{
    color: var(--noir);
    font-size: 1.5em;
    border-bottom: 1px solid transparent;
    transition: padding-bottom .4s ease-in-out, border-color .3s ease;
}

nav .nav-link:hover
{
    color: var(--bleu) !important;
    padding-bottom: 20px;
    border-bottom-color: var(--bleu);
}

nav .dropdown-menu
{
    display: block;
    max-height: 10rem;
    overflow: hidden;
    background-color: var(--vert);
    border-radius: 14px;
    font-size: 1.7em;
    width: 15rem;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: max-height 0.5s ease-out, opacity 0.3s ease;
}

nav .dropdown-menu.show
{
    max-height: 500px;
    opacity: 1;
}

#logo
{
    height: 5em;
    width: 5em;
}

/* mainSection */
.mainSection
{
    min-height: 1500px;
    margin-top: 10%;
    padding-bottom: 50px;
}

.mainTitleContent
{
    position: relative;
}

.line
{
    position: absolute;
    width: 100%;
    background: var(--vert);
    height: 3px;
    margin: auto;
    margin-top: -1%;
}

.line span
{
    display: block;
    width: 70%;
    height: 4px;
    background: var(--violet);
    margin: auto;
    position: relative;
    bottom: 0.5px; 
}

.mainSection .box
{
    background-color: var(--rose);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    font-size: 1.3em;
}

.box h3 
{
    font-size: 2rem;
    color: var(--vert);
    margin-bottom: 10px;
}

button 
{
    height: 50px;
    width: 200px;
    border: 1px solid var(--beige);
    border-radius: 24px;
    background-color: var(--vert);
    color: var(--beige);
}

button:hover
{
    background-color: var(--brun);
    transition: 6300ms;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


/* Footer */
footer
{
  background-color: var(--vert);
  height: 700px;
}

#mapid
{
  height: 300px;
  border-radius: 12px;
}