/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');

:root
{
    --vert : #536964;
    --grisF : #8b9cb6;
    --gris : #bfc1c2;
    --beige : #f1efe9;
    --brun : #e3c7af;
    --noir : #282828;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.spaceLetter
{
    letter-spacing: 0.2rem;
}

footer
{
  background-color: var(--vert);
  min-height: 500px;
  padding: 20px 0;
}

.icons
{
    height: 8rem;
}

#containerFooter .row
{
    gap: 50px;
}

#mapid
{
  width: 100%;
  height: 350px;
  z-index: 0;
}

/* Media Queries */

