/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');

:root
{
    --vert : #536964;
    --violet : #bd8bca;
    --grisF : #8b9cb6;
    --gris : #bfc1c2;
    --beige : #f1efe9;
    --brun : #e3c7af;
    --orange : #ff515a;
    --noir : #282828;
}

body
{
    background-color: var(--beige);
    max-width: 100%;
    min-height: 100vh;
    width: 100% !important;
    overflow-x: hidden;
    font-family: "Bodoni Moda", serif;
}

p
{
    font-size: 1.3em;
    line-height: 1.3em;
}


h3
{
    color: white;
    font-size: 6em;
}

.fontBeige
{
    color: var(--beige);
}

.fontWhite
{
    color: white;
}

.fontBlack
{
  color: var(--noir);
}

.bg-grey
{
    background-color: var(--gris);
}

.bg-blue
{
    background-color: var(--grisF);
}

.fontBolded
{
    font-weight: bold;
}

/* section Home */

section .sections
{
    padding: 20px 0;
}

section .overlay
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.1);
}

.home
{
    height: 1200px;
    background-image: url(../img/services/Kenko-Web/KenkoWeb.svg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.home .homeContent
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home .homeTitle
{
    color: #fff;
    font-size: 6em;
}

.home .homeDesc
{
    color: #fff;
    font-size: 2em;
    line-height: 1.2em;
}
/* END section Home */

/* SectionFormule */
section .sectionFormules
{
    max-width: 100%;
    height: 1100px;
    width: 100%;
    background-image: url(/assets/img/services/Kenko-Web/pictos/informatique.svg);
    background-size: cover;
    background-position: center;
}

.card 
{
    min-height: 42rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* Btn */
.button-container
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

button
{
  height: 50px;
  width: 250px;
  border: 1px solid var(--beige);
  border-radius: 24px;
  background-color: var(--vert);
  color: var(--beige);
  cursor: pointer;
}

button:hover
{
  background-color: var(--brun);
  transition: 6300ms;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media (max-width: 600px)
{
    button
    {
        font-size: 14px;
        padding: 10px 20px;
    }
}

/* Btn END */

    /* Pop-up */

/* Container pop-up */

.popup-container
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

/* Contenu pop-up */

.popup
{
    background: var(--beige);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.popup button
{
    height: 50px;
    width: 250px;
    border: 1px solid var(--beige);
    border-radius: 24px;
    background-color: var(--vert);
    color: var(--beige);
}

.pPopUp
{
    color: var(--vert);
}

    /* Pop-up END */

/*  Section atouts */
.blocAtouts
{
    margin-top: 10%;
}

.pictoAtouts
{
    height: 4em;
}

.pictoAtoutsPerso
{
    height: 30em;
}

section .atoutsContent
{
    background-size: cover;
    background-position: center;
}

/* Section : Déroulement de la création du site */
.timeline 
{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.timeline::after 
{
    content: "";
    position: absolute;
    width: 4px;
    background-color: var(--grisF);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.timeline-item 
{
    position: relative;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.timeline-item:nth-child(odd) 
{
    left: 0;
    text-align: right;
}

.timeline-item:nth-child(even) 
{
    left: 50%;
    text-align: left;
}

.timeline-content 
{
    background: var(--gris);
    padding: 15px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.timeline-content h4 
{
    margin-bottom: 5px;
    color: var(--vert);
    font-size: 1.6rem;
}

/*  END Section : Déroulement de la création du site */

/* trustSection */
.trustSection
{
    height: 600px;
    background-color: var(--beige);
}

section .trustBox
{
    background-color: var(--vert);
    border-radius: 500px;
    margin-top: 12% !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    gap: 0px;
}

.logo-container 
{
    width: 300px; /* Ajuste la largeur du conteneur */
    height: 250px; /* Ajuste la hauteur du conteneur */
    position: relative;
}

.logo 
{
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.logo.active 
{
    opacity: 1;
}
/* END trustSection */


/* media queries */
/* Ajustement pour les petits écrans */
@media (max-width: 768px) {
    section .sectionFormules {
        height: 600px; /* Réduit la hauteur sur les écrans plus petits */
        background-position: top; /* Positionne l'image en haut pour mieux la voir */
    }
}

/* Ajustement pour les très petits écrans */
@media (max-width: 480px) {
    section .sectionFormules {
        height: 400px; /* Réduit davantage la hauteur sur les écrans très petits */
        background-position: top center; /* Garde l'image centrée en haut */
    }
}