/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');

:root
{
    --vert : #536964;
    --violet : #bd8bca;
    --grisF : #8b9cb6;
    --gris : #bfc1c2;
    --beige : #f1efe9;
    --brun : #e3c7af;
    --noir : #282828;
}

body
{
    background-color: var(--beige);
    width: 100% !important;
    overflow-x: hidden;
    font-family: "Bodoni Moda", serif;
}

p
{
    font-size: 1.3em;
    line-height: 1.3em;
}

h1
{
    font-family: "Bodoni Moda", serif;
    font-size: 4rem;
    color: var(--noir);
}

h3
{
    color: white;
    font-size: 6em;
}

.fontBeige
{
    color: var(--beige);
}

.fontBlack
{
  color: var(--noir);
}

.bg-grey
{
    background-color: var(--gris);
}

.bg-blue
{
    background-color: var(--grisF);
}

/* mainSection */
.mainSection
{
    height: 1500px;
    margin-top: 20%;
}
