/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');

:root
{
    --vert : #536964;
    --violet : #bd8bca;
    --grisF : #8b9cb6;
    --gris : #bfc1c2;
    --beige : #f1efe9;
    --brun : #e3c7af;
    --orange : #ff515a;
    --noir : #282828;
}

body
{
    background-color: var(--beige);
    width: 100% !important;
    overflow-x: hidden;
    font-family: "Bodoni Moda", serif;
    min-height: 500px;
    min-width: 320px;
}

p
{
    font-size: clamp(1rem, 1.1rem + 0.5vw, 1.6rem) !important;
    line-height: 1.4em !important;
}


h3
{
    color: white;
    font-size: 6em;
}

.fontBeige
{
    color: var(--beige);
}

.fontWhite
{
    color: white;
}

.fontBlack
{
  color: var(--noir);
}

.fontOrange
{
    color: var(--orange);
}

.bg-grey
{
    background-color: var(--gris);
}

.bg-blue
{
    background-color: var(--grisF);
}

.fontBolded
{
    font-weight: bold;
}
/*  Nav  */
nav
{
    height: 150px;
}

nav .nav-link
{
    color: var(--noir);
    font-size: 1.5em;
    border-bottom: 1px solid transparent;
    transition: padding-bottom .4s ease-in-out, border-color .3s ease;
}

nav .nav-link:hover
{
    padding-bottom: 20px;
    border-bottom-color: var(--bleu);
}

nav .dropdown-menu
{
    display: block;
    max-height: 10rem;
    overflow: hidden;
    background-color: var(--vert);
    border-radius: 14px;
    font-size: 1.7em;
    width: 15rem;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: max-height 0.5s ease-out, opacity 0.3s ease;
}

nav .dropdown-menu.show
{
    max-height: 500px;
    opacity: 1;
}

nav .dropdown-item
{
    color: var(--beige);
}

#logo
{
    height: 5em;
    width: 5em;
}

/* Btn */
.button-container
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

button
{
  height: 50px;
  width: 250px;
  border: 1px solid var(--beige);
  border-radius: 24px;
  background-color: var(--vert);
  color: var(--beige);
  cursor: pointer;
}

button:hover
{
  background-color: var(--brun);
  transition: 6300ms;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* section qui suis-je ?*/
.whoIam
{
    margin-top: 10%;
    min-height: 100% !important;
    background-size: cover;
    background-position: center;
    position: relative; /*pour les ajustements*/
}

.whoIam img
{
    max-width: 100%;
    height: 50Vh !important;
}
/* END section qui suis-je ?*/

article img
{
    height: max-content;
}

.pictoBloc
{
    margin-top: 10% !important;
    margin-bottom: 10% !important;
}

section .box
{
    background-color: var(--grisF);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* Media Queries */
@media only screen and (max-width: 768px) 
{
    .whoIam 
    {
        margin-top: 5%; /* Réduit la marge supérieure pour les petits écrans */
        padding: 2rem 0; /* Ajoute un peu de padding sur le dessus et le dessous */
    }
}